*
{
	margin: 0;
	padding: 0;
}

/*Creation of a box to delimit the coordinates of the content of the cv */
.coordonnees
{
	float: left;
	border: 2px solid #000;
	padding: 8px 12px;
	background-image: linear-gradient(360deg, #ccc, #fff 60%, #fefefe);
}

/*Creation of box to delimit the content of the coordinates */
.contenu
{
	float: left;
	border: 2px solid #000;
	padding: 8px 12px;
	background-image: linear-gradient(310deg, #ccc, #fff 70%, #fefefe);
}

/*Coloring tags */

h1
{
	text-align: center;
}

h3
{
	color: red;
}

strong
{
	color: blue;
}

/*Others tags*/

body
{
	font-family: "Comic Sans MS";
}

ul
{
	list-style: none;
}

.banniere
{
	background-image: url("../image/banniere_dev.jpg");
	width: 100%;
	height: 500px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/*Responsive Web Design*/
@media all and (max-width: 1280px)
{
	.contenu
	{

	}
}

@media all and (min-width: 1024px) and (max-width: 1279px)
{
	.banniere
	{
		float: left;
		width: 70%;
		padding-right: 36px;
	}
}

@media all and (min-width: 768px) and (max-width: 1023px)
{
	.banniere
	{
		float: right;
		width: 64%;
	}

	.coordonnees
	{
		padding-right: 18px;
	}
}

@media all and (min-width: 425px) and (max-width: 767px)
{
	h1
	{
		color: black;
	}

	h3
	{
		color: blue;
	}

	strong
	{
		color: red;
	}
}

@media all and (min-width: 320px) and (max-width: 424px)
{
	strong
	{
		color: red;
		width: 100%;
	}

	h1
	{
		color: black;
	}

	h3
	{
		color: blue
	}
}